.container {
    height: calc(100% - 290px);
    width: 100%;
    max-width: 800px;
    overflow: auto;
    display:inline-flexbox;
    position: fixed;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0);
    overflow-anchor:none;
}

.stack {
    display: flex;
    width: 100%;
    overflow: scroll;
    overflow-anchor: auto;
}