:root {
    --input-width: 80%;
    --shadow-color: #97b2b2b3;
    --button-color-idle: #84979721;
    --button-color-hover: #717c7d46;
    --button-color-active: #7272723f;
    --shadow-width-idle: 5px;
    --shadow-width-active: 1px;
}

.search {
    width: 80%;
    max-width: 800px;
    min-height: 20px;
    padding: 0px;
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    align-content: bottom-left;
    display: flex;
    justify-content: space-between;
    align-content: horizontal;
}

.search > .input {
    width: var(--input-width);
    height: 100%;
    margin-left: auto;
    margin-top: auto;
    border-radius: 5px;
    background-color: #f1f1f1;
    border: none;
    font-size: 16px;
}
.search button {
    background-image: url("./imgs/send.png");
    background-size: contain;
    background-color: var(--button-color-idle);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 60% !important;

    aspect-ratio: 1/1;
    position: absolute;
    bottom: 8px;
    box-shadow: 1px var(--shadow-width-idle) var(--shadow-color);
}
.search button:hover {
    background-color: var(--button-color-hover);
}
.search button:active {
    background-color: var(--button-color-active);
    box-shadow: 0px var(--shadow-width-active) var(--shadow-color);
}
.search > .button-container {
    aspect-ratio: 1/1;
    width: calc(100% - var(--input-width)) !important;
    max-width: 80px;
    vertical-align: bottom;
    display: flex;
    position: relative;
    margin-left: 10px;
}